<div class="row container full-bg-img-005" style="min-height: 500px">

<div class="row" style="height: 125px"></div>

  <div class="container col-sm-8 col-sm-push-2" style="margin-bottom: 50px">
    <div class="card hoverable" style="background-color: rgba(255, 255, 255, .85)">
      <div class="container col-sm-12">
        <h4 class="text-center">New Workout</h4>
          <%= render 'form' %>
          <div class="text-center" style="margin-bottom: 20px"><%= link_to 'Back', workouts_path %></div>
      </div> <!-- container inside -->
    </div>  <!-- card panel end -->
  </div> <!-- column container -->

<div class="row" style="height: 125px"> </div>

</div> <!-- row -->
